@model IEnumerable<DomainModel.Entities.Jeans>
@using System.Collections;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Price)</th>
        <th>@Html.DisplayNameFor(model => model.Color.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Country.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Sizes.First().SizeValue)</th>
        <th>@Html.DisplayNameFor(model => model.Sizes.First().Quantity)</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        foreach (var size in item.Sizes)
        {
        <tr>
            
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>@Html.DisplayFor(modelItem => item.Color.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Country.Name)</td>
                <td>@Html.DisplayFor(modelItem => size.SizeValue)</td>
                <td>@Html.DisplayFor(modelItem => size.Quantity.Value)</td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.JeansId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.JeansId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.JeansId })
                </td>
           
        </tr>
        }
    }
</table>
