@model DomainModel.Entities.Jeans

<div class="item">
    <h3>@Model.Name</h3>
     <div style="width : 40px; height :10px; background-color : @Model.Color.HtmlCode;"></div>   
     Select size:
    <select>
        @foreach (var size in Model.Sizes)
        {
            <option>@size.SizeValue</option>
        }
    </select>


    @using (Html.BeginForm("AddToCart", "Cart"))
    {
        @Html.HiddenFor(x => x.JeansId)
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
        <input type="submit" value="+ Add to cart" />
    }
    <h4>@Model.Price.ToString() gryven`</h4>

</div>